.remove-pad {
    padding-top: 10px;
}

.test-thing {
    font-family: Montserrat;
    text-transform: lowercase;
}

.hero-mask {
    filter: brightness(0) invert(1);
    opacity: 0.7;
}

.sticky-bottom {
    margin-top: 400px;
}

.navbarBrand {
    display: none;
}

@media (max-width: 767px) {
    .navbar-custom {
        display: block;
    }
}

.text-blue {
    color: #51bcda;
}

.hide-hero {
    display: none;
}

.leaflet-container {
    height: 400px;
    width: 100%;
  }

.footer-text {
    color: white;
}

.icon-large {
    font-size: 4rem;
    color: #51bcda;
}

.custom-card-title {
    font-size: 1.5rem;
}
